#placeholder, #profilePic{
  width:500px;
  height:500px;
  border-radius: 100%;
  display:flex;
  
  

}


#addImageBtn {
  border-radius: 100%;
  margin:0%;
}

#savePic, #cancelPic{
  margin:1%;
}

#profileOptions{
  box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
  
}
#profileText{
  margin:5%;
}

#colorSelectorOne{
 
  background-color:#50A586;
  outline:none;
  
}
#colorSelectorTwo{
 
  background-color:#A13D63;
  outline:none;
  
}
#colorSelectorThree{
 
  background-color:#F9A03F;
  outline:none;
  
}

#colorSelectorFour{
 
  background-color:#1982C4;
  outline:none;
  
}

.colorSelector{
  
  border-radius: 100%;

  height:50px;
  width:50px;
  outline:none;
  margin-left:5%;

}

