
#homeEntry{
   margin-left:auto;
  margin-right:auto;
  text-align:center;
 
  display:block;
  min-width:1000px;
}

#pieChart{
  display: flex;
  position: relative;
}

#lineChart{
  display:flex;
  position:relative;
}