.card {
  
  text-align:center;
  /* padding-bottom: 4%; */
  

}

#entrylist{
  width:25%;
  display:block;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 3%;
  margin-top: 0%;
  /* position: static; */
  float:left;
}

#entryIcon{
  font-size: 50px;
  
}

#head{
  text-align: center;
  float:left;
  
}

a{
  cursor:pointer;
}