.card {
  
  text-align:center;
  /* padding-bottom: 4%; */

}

#entrylist{
  width:25%;
  display:block;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 1.5%;
  margin-top: 1%;
  /* position: static; */
  float:left;

  
  
  
 
  
  
}